{% extends 'kit/base.html' %}
{% load static %}
{% block title %}urKIT | About Us{% endblock title %}


{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">This is the public limited company having its
            <strong>Operationl Address</strong> in
            Azangarh city near Belaisa of Uttar Pradesh in India.
            This is fastest delivery company and Shop on the go and get anything delivered in minutes
        </p>
    </div>
</div>

{% endblock main-content %}