{% extends 'kit/base.html' %}
{% load static %}
{% block title %}urKIT | Reset Password{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <h3>Reset Password Completed!!</h3>
        <hr>

        <div class="col-sm-6 offset-sm-3">

            <div>
                <iframe src="{% static 'app/images/banner/t.png'%}" width="500" height="500" frameBorder="0"
                    class="giphy-embed" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}